<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>


<div class="container mt-8 mb-6 text-center">

  <h2 class="mb-6">New <%= t("features.title") %></h2>


      <hr class="featurette-divider">



      <div class='row'>
       <div >
          <h3 align='left'>Configure whether your room is being recorded!</h3>
          <p align='left'>To enable rooms that can not be recorded, you can now change whether your room can be recorded in the room's settings any time you want between sessions. If your room has the option to be recorded, users will be notified about the recording prior to joining.</p> 
          <p align='left'>IMPORTANT: If you did not set your preference for a room, it will default to recording the room for the next two weeks. Thereafter, the default will be 'no recording enabled' unless you enable it in the room's settings! Make sure to update your room settings!</p> 
          <p align='left'>In case you have any questions about this change, please contact <a href='mailto:support@bbb.surfcloud.nl'>support@bbb.surfcloud.nl</a></p> 
          <br>
          <h3 align='left'>Have more fine-grained controll about the visibility of your recordings!</h3>
          <p align='left'>In the webinterface, you now have three options for publishing recordings via a drop-down menu:</p> 
          <p align='left'><i class="fas fa-user-shield"></i><b> Private:</b> This is the default setting. The recording exists, but you cannot access it via the Internet.</p> 
          <p align='left'><i class="fas fa-link"></i><b> Unlisted:</b> With this setting, you can access the recording (via the link behind 'Presentation'). Everyone with the link can watch the recording, until you set it back to private.</p> 
          <p align='left'><i class="fas fa-globe"></i><b> Public:</b> With this setting, the recording will <em>also</em> be listed on the public start-page of your online meeting room. Convenient, if you want to make several lecture recordings publicly accessible to your students.</p> 
      </div>







  </div>
</div>
